
<!-- product -->
<div class="card d-inline-block m-4 shadow single-product" style="width: 18rem; border-radius: 15px; transform: scale(.9 , .9);"  *ngFor="let p of indexProducts">
    <img style="width: 95%;height: 30vh; margin: 5px; border-radius: 15px;" src="{{p.image}}" class="card-img-top" alt="...">
    <div class="product-hover">
        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <!-- <div class="single-product">
    <div class="product-f-image">
        <img src="img/product-3.jpg" alt="">
        <div class="product-hover">
            <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
            <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
        </div>
    </div>
    
    <h2>LG Leon 2015</h2>

    <div class="product-carousel-price">
        <ins>$400.00</ins> <del>$425.00</del>
    </div>                                 
</div> -->